
:root {
    --primary-color: #0b5dad;
    --primary-color-1: #136cc5;
    --dark-text-color: #292929;
    --light-text-color: white;
    --light-text-color-deselect: rgba(255,255,255,.5);

    --grey: #495057;
    --grey-1: #5c656d;
    --grey-2: #8d97a0;

    --top-offset: 17rem;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin: 0px;
    background-color: var(--background-color);
    display: grid;
    color: var(--dark-text-color);
    grid-template-columns: auto 1fr;
}

h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}


h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

sub {
    font-size: 1.5rem;
    color: var(--grey-1);
}


#sidebar {
    background-color: var(--primary-color);

    /* Make this a sticky sidebar */
    position: sticky;
    height: 100vh;
    top: 0rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

/* Sidebar */
#sidebar > a {
    color: var(--light-text-color-deselect);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
}

#sidebar > img {
    width: 9rem;
    border: 0.5rem solid #ffffff33;
    border-radius: 50%;
    margin-top: calc(var(--top-offset) + 2.5rem);
    /* width: 80%; */
}

#sidebar > a:hover {
    color: var(--light-text-color)
}


/* Content */

#content {
    height: 1000000rem;
}



#about > h1 {
    margin-top: var(--top-offset);
}

#about > #tagline {
    margin-top: 3rem;
    margin-bottom: 2rem;
}



#about > #links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#about > #links > div {
    display: flex;
    gap: 1rem;
    text-align: center;
    line-height: 2rem;
}

section {
    min-height: 100vh;
    max-width: 100%;
    padding: 2rem;
    border-bottom: 1px solid #dee2e6;
}

#surname {
    color: var(--primary-color);
}

#top-of-site-pixel-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 500px;
    left: 0;
  }


  /* buttons */

.button {
    border-radius: 4px;
    padding: 0.6rem 1rem;
    text-align: center;
    font-size: 1.25rem;
    /* height: 1.5rem; */
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}

.button.primary {
    background-color: var(--primary-color);
    color: var(--light-text-color);
}

.button.primary:hover {
    background-color: var(--primary-color-1);
}

.circle-button {
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    color: var(--light-text-color);
    background-color: var(--grey);
}

.circle-button:hover {
    background-color: var(--primary-color);
}

/* Project */

#projects > .project {
    display: grid;
    grid-template-columns: 66% 33%;
}