:root {
  --primary-color: #0b5dad;
  --primary-color-1: #136cc5;
  --dark-text-color: #292929;
  --light-text-color: white;
  --light-text-color-deselect: rgba(255, 255, 255, 0.5);

  --grey: #495057;
  --grey-1: #5c656d;
  --grey-2: #8d97a0;

  --top-offset: 11rem;

  /* https://brailleinstitute.org/freefont */
  /* font-family: "Atkinson Hyperlegible", sans-serif; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px;
  background-color: var(--background-color);
  display: grid;
  color: var(--dark-text-color);
  grid-template-columns: auto 1fr;
}

h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

sub {
  font-size: 1.5rem;
  color: var(--grey-1);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#sidebar {
  background-color: var(--primary-color);
  /* make the background color transition */
  transition: background-color 1s ease;
  /* Make this a sticky sidebar */
  position: sticky;
  height: 100vh;
  top: 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 1.5rem;
}

/* Sidebar */
#sidebar > a {
  color: var(--light-text-color-deselect);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

#sidebar > img {
  width: 9rem;
  border: 0.5rem solid #ffffff33;
  border-radius: 50%;
  margin-top: calc(var(--top-offset) + 0rem);
  /* width: 80%; */
}

#sidebar > a:hover {
  color: var(--light-text-color);
}

#sidebar > .selected {
  color: red;
}

@media screen and (max-width: 750px) {
  #sidebar {
    display: none;
  }
}

/* Content */

#content {
  height: 1000000rem;
}

#about {
  width: fit-content;
}

#about > h1 {
  margin-top: var(--top-offset);
}

#about > #tagline {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#about > #links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#about > #links > div {
  display: flex;
  gap: 1rem;
  text-align: center;
  line-height: 2rem;
}

section {
  min-height: 100vh;
  max-width: 100%;
  padding: 3rem;
  border-bottom: 1px solid #dee2e6;
}

#surname {
  color: var(--primary-color);
  cursor: pointer;
  transition: color 1s ease;
}

#top-of-site-pixel-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 500px;
  left: 0;
}

/* buttons */

.button {
  border-radius: 4px;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  transition: ease-in-out 0.15s;
}

.button.filled {
  background-color: var(--primary-color);
  transition: background-color 1s ease;
  color: var(--light-text-color);
}

.button:hover {
  text-decoration: none;
}

.button.filled:hover {
  background-color: var(--primary-color-1);
}

.button.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.button.outline:hover {
  background-color: var(--primary-color-1);
  color: var(--light-text-color);
}

.circle-button {
  font-size: 1.5rem;
  text-align: center;
  border-radius: 50%;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  color: var(--light-text-color);
  background-color: var(--grey);
}

.circle-button:hover {
  background-color: var(--primary-color);
}

/* Project */

#projects {
  display: grid;
  gap: 10rem;
}

#projects > .project {
  display: grid;
  align-items: center;
}

#projects > .project > .project-content {
  width: fit-content;
}

/* apply to last p tag */
#projects > .project > .project-content > p:last-child {
  padding-top: 1rem;
}

@media screen and (min-width: 900px) {
  #projects > .project {
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    gap: 1rem;
  }
}

@media screen and (max-width: 900px) {
  #projects > .project {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    gap: 2rem;
  }
}

#projects > .project > img {
  width: 100%;
}
